    body {
        /* background-image: url("img/fondo.jpg");     */
        background: url(http://emquilichao.gov.co/wp-content/uploads/2017/01/fondo-claro.jpg) no-repeat center center fixed; 
        background-size: cover;    
      
        
    }
  

#contenido {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

 nav ul li
 {
     display: inline-block;
     margin-right: 20px;
     cursor: pointer;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }

 #textoPr
 {
     width: 600px;
     height: 300px;
     background:  url(https://img.freepik.com/psd-gratis/diseno-de-fondo-abstracto_1297-82.jpg?size=664&ext=jpg) no-repeat center center fixed;
     color: azure;
     margin: 20px auto;
     border-radius: 30px;
     box-shadow: 0px 0px 20px;

 }